<div ng-controller="CalendarCtrl as calendar" ng-init="calendar.initRoute('admin', {view: 'week'})">
  <div class="modal-header">
    <h3 class="modal-title">
      <div class="row">
        <div class="col-md-4">
          Calendar: {{ calendar.viewTitle }}
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" mwl-date-modifier date="calendar.viewDate" decrement="calendar.view">
                <span class="fa fa-chevron-left"></span>
              </button>
              <button type="button" class="btn btn-default" mwl-date-modifier date="calendar.viewDate" increment="calendar.view">
                <span class="fa fa-chevron-right"></span>
              </button>
            </div>
            <button type="button" class="btn btn-default" mwl-date-modifier date="calendar.viewDate" set-to-today>
              Today
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'year'">Year</label>
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'month'">Month</label>
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'week'">Week</label>
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'day'">Day</label>
          </div>
        </div>
      </div>
    </h3>
  </div>
  <div class="modal-body">
    <mwl-calendar
      view="calendar.view"
      events="calendar.events"
      view-date="calendar.viewDate"
      view-title="calendar.viewTitle"
      cell-is-open="true">
    </mwl-calendar>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 form-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Events</h3>
      </div>
      <div class="panel-body">
        <div ng-controller="IndexCtrl as vm" ng-init="vm.initRoute('upcoming_events')">
          <div ng-init="vm.config({openable: false})"></div>
          <div ng-init="vm.classes('event_type_id', {1: 'success', 2: 'info', 3: 'warning'})"></div>
          <div ng-init="vm.column('name')"></div>
          <div ng-init="vm.column('start_date', 'Day', 'date', 'EEE, MMM d, yyyy')"></div>
          <div ng-include="partials.indexGrid"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 form-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <div ng-controller="IndexCtrl as vm" ng-init="vm.initRoute('users')">
          <div ng-init="vm.paging.recordsPerPage=10"></div>
          <div ng-init="vm.config({openable: false})"></div>
          <div ng-init="vm.column('name')"></div>
          <div ng-init="vm.column('email')"></div>
          <div ng-include="partials.indexGrid"></div>
        </div>
      </div>
    </div>
  </div>
</div>