<div ng-controller="CalendarCtrl as calendar" ng-init="calendar.initRoute('events')">
  <div class="modal-header">
    <h3 class="modal-title">
      <div class="row">
        <div class="col-md-4">
          Calendar: {{ calendar.viewTitle }}
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" mwl-date-modifier date="calendar.viewDate" decrement="calendar.view">
                <span class="fa fa-chevron-left"></span>
              </button>
              <button type="button" class="btn btn-default" mwl-date-modifier date="calendar.viewDate" increment="calendar.view">
                <span class="fa fa-chevron-right"></span>
              </button>
            </div>
            <button type="button" class="btn btn-default" mwl-date-modifier date="calendar.viewDate" set-to-today>
              Today
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'year'">Year</label>
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'month'">Month</label>
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'week'">Week</label>
            <label class="btn btn-default" ng-model="calendar.view" uib-btn-radio="'day'">Day</label>
          </div>
        </div>
      </div>
    </h3>
  </div>
  <div class="modal-body">
    <mwl-calendar
      view="calendar.view"
      events="calendar.events"
      view-date="calendar.viewDate"
      view-title="calendar.viewTitle"
      cell-is-open="true">
    </mwl-calendar>
  </div>
  <div class="modal-footer">
  </div>
</div>
