<div ng-controller="IndexCtrl as vm" ng-init="vm.initRoute('event_schedules', {})">
  <div ng-include="partials.header"></div>
  <div ng-include="partials.searchForm"></div>
  <div class="row model-container">
    <div ng-init="vm.config({openable: true, popable: true})"></div>
    <div ng-init="vm.classes('event_type_id', {1: 'success', 2: 'info', 3: 'warning'})"></div>
    <div ng-init="vm.column('name', 'Name')"></div>
		<div ng-init="vm.column('event_type_name', 'Event Type')"></div>
    <div ng-init="vm.column('start_date', 'Day', 'date', 'EEE, MMM d, yyyy')"></div>
    <div ng-init="vm.column('start_date', 'Start Time', 'date', 'HH:mm a')"></div>
		<div ng-init="vm.column('end_date', 'Stop Time', 'date', 'HH:mm a')"></div>
    <div ng-show="state.showGrid" ng-class="{'col-md-12': !state.collapsedGridMode, 'col-md-4': state.collapsedGridMode}">
      <div ng-include="partials.indexGrid"></div>
      <div ng-include="partials.loadMoreButton"></div>
    </div>
    <div ng-hide="state.isIndex" ng-class="{'col-md-8': state.collapsedGridMode, 'col-md-12': !state.collapsedGridMode}">
      <div ui-view></div>
    </div>
  </div>
</div>
<div ng-controller="EventScheduleIndexCtrl"></div>
