.sidebar {
  padding-top: 70px;
}

#project_name {
  padding: 13px 0px 0px 14px;

  img {
    height: 102px;
  }
}

.login .modal-header {
  background-color: #5DA27E !important;
}

.home {
  #main img {
    height: 900px;
    margin-left: -200px;
  }
}

.modal-sm {
  margin-right: 200px;
}